In [16]:
#Import sqlite
import sqlite3

In [17]:
#import DB
db=sqlite3.connect("herewegoDB.db")

In [18]:
#create cursor
cursor = db.cursor()

In [22]:
cursor.execute('''DROP TABLE venues''')
cursor.execute('''DROP TABLE events''')
cursor.execute('''DROP TABLE user_events''')
cursor.execute('''DROP TABLE venue_calendar''')
cursor.execute('''DROP TABLE users''')

OperationalError: no such table: venues

In [23]:
#create events table
cursor.execute('''
CREATE TABLE "events" (
	"event_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"event_name"	TEXT NOT NULL,
	"event_city"	TEXT NOT NULL,
	"event_type"	TEXT,
	"event_start"	TEXT NOT NULL,
	"event_end"	TEXT,
	"event_capacity"	INTEGER NOT NULL,
	"venue_id"	INTEGER NOT NULL,
	"creation_date"	TEXT NOT NULL, 
    user_id INTEGER,
	FOREIGN KEY("venue_id") REFERENCES "venues"("venue_id")
)
''')

OperationalError: table "events" already exists

In [24]:
#create users table
cursor.execute('''
CREATE TABLE "users" (
	"user_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"first_name"	TEXT NOT NULL,
	"last_name"	TEXT NOT NULL,
	"dob"	TEXT,
	"email"	TEXT NOT NULL,
	"user_role"	TEXT NOT NULL,
	"user_phone"	TEXT,
	"creation_date"	TEXT NOT NULL,
    "username" TEXT NOT NULL UNIQUE)
''')

In [25]:
#create venues table
cursor.execute('''
CREATE TABLE "venues" (
	"venue_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"venue_name"	TEXT NOT NULL,
	"venue_open"	date,
	"venue_close"	date,
	"zip_code"	TEXT NOT NULL,
	"city"	TEXT,
	"address"	TEXT NOT NULL
)
''')

In [26]:
#create user events table
cursor.execute('''CREATE TABLE "user_events" (
	"user_id"	INTEGER NOT NULL,
	"event_id"	INTEGER NOT NULL,
	FOREIGN KEY("user_id") REFERENCES "users"("user_id"),
	FOREIGN KEY("event_id") REFERENCES "events"("event_id"),
	PRIMARY KEY("user_id","event_id")
)
''')

In [27]:
#create venue calendar
cursor.execute('''CREATE TABLE venue_calendar (
  venue_id INTEGER NOT NULL,
  venue_date TEXT  NOT NULL,
  slot_start TEXT  NOT NULL,
  slot_end   TEXT  NOT NULL,
  is_available TEXT NOT NULL,
  CONSTRAINT fk_column
    FOREIGN KEY ("venue_id")
    REFERENCES "venues"("venue_id")
)
''')

In [29]:
db.commit()

In [91]:
#determines the role of a user provided user is in the database
def get_user_role(username):
	role = ""
	cursor.execute('''
		SELECT user_role FROM users
		WHERE username = ?
		''',
		(username,)
		)
	role = cursor.fetchone()
	if role is None:
		return "User '%s' is not found or user does not have a role" %username
	else:
		return role[0]

In [92]:
get_user_role("darasimi")

'admin'

In [69]:
def change_event_capacity(event_name,capacity):
	cursor.execute('''
			UPDATE events SET event_capacity = ?
			WHERE event_name = ?
		''', (capacity,event_name))
	db.commit()
	cursor.execute('''
					SELECT event_name, event_capacity 
					FROM events WHERE event_name=?''', (event_name,))
	event_detail = cursor.fetchone()
	if event_detail is None:
		return "Event name '%s' has not been created. Please ensure the right event has been entered or created and try again" %event_name
	else:
		return event_detail

In [76]:
change_event_capacity("singings",6)

"Event name 'singings' has not been created. Please ensure the right event has been entered or created and try again"

In [77]:
import datetime

In [109]:
def add_user(user_account,user_id,first_name,last_name,age,email,user_role,user_phone,user_name):
	try:		
		creation_date = datetime.datetime.now().strftime("%Y-%m-%d")
		print(get_user_role(user_account))
		if get_user_role(user_account) != 'admin':
			return "User %s doesn't exist or does not have appropriate permission to add other users" %user_account
		else:
			cursor.execute('''
							INSERT INTO users
							VALUES(?,?,?,?,?,?,?,?,?)
				''',(user_id,first_name,last_name,age,email,user_role,user_phone,creation_date,user_name)
				)
			db.commit()
			cursor.execute('''
							SELECT * FROM users
				''')
			users = cursor.fetchall()
			for user in users:
				print(user)
	except sqlite3.Error as e:
		print("Error {" + e.args[0] + "}")

In [110]:
add_user("darasimi",5,"jon","snow",25,"jon.snow@got.com","user","21597648","stevendara")

admin
(1, 'Aditya', 'Shetty', '2001-01-01', 'aditya@gmail.com', 'admin', '2179798071', '2019-07-25', 'aditya')
(2, 'Darasimi', 'Oluwaniyi', '2001-01-01', 'aditya@gmail.com', 'admin', '2179798071', '2019-07-25', 'darasimi')
(3, 'Jane', 'Doe', '2001-01-01', 'aditya@gmail.com', 'user', '2179798071', '2019-07-25', 'jane')
(4, 'John', 'Doe', '2001-01-01', 'aditya@gmail.com', 'user', '2179798071', '2019-07-25', 'john')
(5, 'jon', 'snow', 25, 'jon.snow@got.com', 'user', '21597648', '2019-07-25', 'stevendara')
(8, 'jon', 'snow', 25, 'jon.snow@got.com', 'user', '21597648', '2019-07-25 09:02:15.432258', 'stevendar')