In [1]:
#Import sqlite
import sqlite3

In [2]:
#import DB
db=sqlite3.connect("herewegoDB.db")

In [3]:
#create cursor
cursor = db.cursor()

In [4]:
cursor.execute('''DROP TABLE users''')

In [5]:
cursor.execute('''DROP TABLE venues''')
cursor.execute('''DROP TABLE events''')
cursor.execute('''DROP TABLE user_events''')

In [6]:
#create events table
cursor.execute('''
CREATE TABLE "events" (
	"event_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"event_name"	TEXT NOT NULL,
	"event_city"	TEXT NOT NULL,
	"event_type"	TEXT,
	"event_start"	TEXT NOT NULL,
	"event_end"	TEXT,
	"event_capacity"	TEXT NOT NULL,
	"venue_id"	INTEGER NOT NULL,
	"creation_date"	TEXT NOT NULL,
	FOREIGN KEY("venue_id") REFERENCES "venue"("venue_id")
)
''')

In [7]:
#create users table
cursor.execute('''
CREATE TABLE "users" (
	"user_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"first_name"	TEXT NOT NULL,
	"last_name"	TEXT NOT NULL,
	"dob"	TEXT,
	"email"	TEXT NOT NULL,
	"user_role"	TEXT NOT NULL,
	"user_phone"	TEXT,
	"creation_date"	TEXT NOT NULL
)
''')

In [8]:
#create venues table
cursor.execute('''
CREATE TABLE "venues" (
	"venue_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"venue_name"	TEXT NOT NULL,
	"venue_open"	date,
	"venue_close"	date,
	"zip_code"	TEXT NOT NULL,
	"city"	TEXT,
	"address"	TEXT NOT NULL
)
''')

In [9]:
#create user events table
cursor.execute('''CREATE TABLE "user_events" (
	"user_id"	INTEGER NOT NULL,
	"event_id"	INTEGER NOT NULL,
	FOREIGN KEY("user_id") REFERENCES "users"("user_id"),
	FOREIGN KEY("event_id") REFERENCES "events"("event_id"),
	PRIMARY KEY("user_id","event_id")
)
''')

db.commit()

In [12]:
cursor.execute('''SELECT * FROM users''')

every = cursor.fetchall()

for user in every:
    print(user)